.project-dashboard-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100vw;
}

.project-selected-add-field-button {
  cursor: pointer;
}
.project-selected-add-field-button:hover {
  cursor: pointer;
  border: 2px solid rgb(228, 228, 228);

  transition: 0.4s ease-in;
}

.project-dashboard-list-container {
  width: 50%;
}

.project-dashboard-current-project {
  width: 50%;
}
.project-selected-button-bar {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.table-display-product-list-row {
  cursor: pointer;
}
.table-display-product-list-row:hover {
  cursor: pointer;
  background-color: rgb(9, 58, 106);
  color: white;
}
.table-display-product-list-row-active {
  cursor: pointer;
  background-color: rgb(9, 58, 106);
  color: white;
}
@media only screen and (max-width: 700px) {
  .project-dashboard-list-container {
    width: 100%;
  }

  .project-dashboard-current-project {
    width: 100%;
  }
}
