.container-calender {
  max-width: 700px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(7, 75px);
}
.container-calender-item {
  background-color: aliceblue;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.container-calender-item-current {
  cursor: pointer;
  transition: 0.5s ease-in;
  background-color: rgb(198, 255, 75);
}
.container-calender-item:hover {
  background-color: dodgerblue;
  cursor: pointer;
}
.container-calender-item-current:hover {
  cursor: pointer;
  background-color: dodgerblue;
}
.container-calender-item-header {
  background-color: dodgerblue;
  color: lightcyan;
}

.calendar-month-tab {
  max-width: 500px;
  display: flex;
  padding: 10px;
  justify-content: space-between
  
}


@media only screen and (max-width: 500px) {
  .calender-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }
  .calender-main-div .p{
    font-size: smaller;
  }
  .container-calender{
    background-color: aquamarine;
    padding: 0;
    grid-template-columns: repeat(7, 40px);
    gap: 0;
  }
  .container-calender-item-header{
    width: 40px;
     
    font-size: x-small;
  }
  .container-calender-item-current  {
    width: 40px;
   
  }
  .container-calender-item{
    width: 40px;
  }

}